<ol>
  <input id="deck_name" type="text" name="deck[name]" value="<%= @deck.name %>" placeholder="Deck Name" />
  <li>
    <input id="card_question" type="text" name="question" value="<%= @card.question %>" placeholder="Question" />
    <input id="card_answer" type="text" name="answer" value="<%= @card.answer %>" placeholder="Answer"/>
  </li>
  <li>
    <input id="card_question" type="text" name="question" value="<%= @card.question %>" placeholder="Question" />
    <input id="card_answer" type="text" name="answer" value="<%= @card.answer %>" placeholder="Answer"/>
  </li>
  <li>
    <input id="card_question" type="text" name="question" value="<%= @card.question %>" placeholder="Question" />
    <input id="card_answer" type="text" name="answer" value="<%= @card.answer %>" placeholder="Answer"/>
  </li>
  <li>
    <input id="card_question" type="text" name="question" value="<%= @card.question %>" placeholder="Question" />
    <input id="card_answer" type="text" name="answer" value="<%= @card.answer %>" placeholder="Answer"/>
  </li>
  <li>
    <input id="card_question" type="text" name="question" value="<%= @card.question %>" placeholder="Question" />
    <input id="card_answer" type="text" name="answer" value="<%= @card.answer %>" placeholder="Answer"/>
  </li>
</ol>
