<div class="container">
  <h1>Edit Deck</h1>
  <form action="/users/<%=@user.id%>/decks/<%=@deck.id%>" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <%= erb :"decks/_form", locals: { deck: @deck} %>
    <input type="submit" value="Save" />
  </form>
  <form action="/users/<%=@user.id%>/decks/<%=@deck.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" value="DELETE" />
  </form>
</div>
